* {
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(-225deg, #20E2D7 0%, #F9FEA5 100%);
    font-size: 1.5em;
    font-family: "Comic Sans MS";
    color: #fff;
}

#title {
    text-align: center;
    font-size: 3.7rem;
    font-family: Bookman;
    text-shadow: 2px 2px 6px #000;
}

#form-outer {
    background: #333d42bf;
    margin: 0 auto;
    border-radius: 0 60px;
    padding: 20px 7%;
    width: 73%;
}

#survey-form {
    margin: 30px auto 0;
    padding: 10px 0px;
}

#description,
.userdetail {
    background: #00000028;
    padding: 25px 0;
    border-radius: 0 25px;
}

#description {
    text-align: center;
    font-size: 1.3rem;
    padding: 10px;
}

.form-section {
    margin: 0 auto;
    text-align: center;
    padding: 2px 0;
}

.multi-choice {
    margin-left: 8%;
    text-align: left;
}

.input-details {
    width: 50%;
    min-width: max-content;
    height: 35px;
    padding: 0 10px;
    font-size: 1.6rem;
    font-family: monospace;
    border-radius: 8px;
    overflow: hidden;

}

input:focus {
    background: #dcedc8;
}

#number {
    width: 52%;
}

#dropdown {
    width: 41%;
    min-width: fit-content;
    height: 35px;
    padding: 0;
    font-size: 1.4rem;
    font-family: monospace;
    border-radius: 8px;
}

input[type='radio'],
[type='checkbox'] {
    transform: scale(2);
}

#comments {
    width: 83%;
    height: 100px;
    font-size: 1.5rem;
    margin: 3px 0;
    border-radius: 8px;
}

#comments:focus {
    background: #dcedc8;
}

#submit {
    padding: 7px 35px;
    font-size: 1.5rem;
    background: #20E2D7;
    border: none;
    color: white;
    border-radius: 10px;
}

#submit:hover {
    cursor: pointer;
    background: #42a7a1;
    font-weight: bold;
}

@media screen and (max-width: 750px) {
    body {
        font-size: 1.1em;
    }

    #title {
        font-size: 2rem;
    }

    #form-outer {
        border-radius: 0 30px;
        padding: 10px 5%;
        width: 98%;
    }

    #survey-form {
        margin: 0 auto;
        padding: 0;
    }


    #description,
    .userdetail {
        background: #00000028;
        padding: 10px 0;
        border-radius: 0 15px;
    }

    #description {
        font-size: 1.1rem;
        padding: 0;
    }

    .input-details,
    #dropdown {
        font-size: 1.1rem;
        overflow: hidden;
    }

    input[type='radio'],
    [type='checkbox'] {
        transform: scale(1.5);
    }

    #comments {
        font-size: 1.2rem;
    }
}